<div class="container" style="
    height: 100%;
    display: flex;
    justify-content: center;
">
    
    <div class="row trendspotting">
        <p class="title">Trendspotting</p>
        <p class="trendspotting-text">Use Google Trends to stay up-to-date on current events and trends by tracking
            popular search terms and summarizing news articles about them.</p>
        <p class="google-trends-dataset">Google Trends dataset</p>
        <p class="google-trends-dataset-text">The following dashboard demonstrates the top search terms in the US for
            the latest available data. This query looks at the latest data available to return the top 25 search terms
            in the US for the most recent week available.</p>
        <div>
            <iframe src="https://datasignals.looker.com/embed/dashboards/11?theme=GoogleWhite" style="width: 910px;
            height: 537px;
            flex-shrink: 0;">
            </iframe>
        </div>
        <p class="top-search-form-text">Using the form below, select a date to retrieve the top 1 search term(s) in the
            US.</p>
        <p class="top-search-title">Google Trends top search terms</p>
        <p class="top-search-date-text">Select the date to retrive the top search terms from Google Trends</p>

        <!-- <div *ngIf="showProgress">
            <div class="spinner_loading">
                <mat-spinner diameter="40"></mat-spinner>
            </div>
        </div> -->
        <div>
            <form [formGroup]="trendspottingForm" (ngSubmit)="onSubmit()">
                <div class="d-flex align-items-baseline">
                    <mat-form-field>
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="fromDate" [max]="maxDate" [min]="minDate">
                        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                        <mat-datepicker-toggle matIconSuffix [for]="picker">
                            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <span>
                        <button class="btn"
                            [ngClass]="{'generateActive': trendspottingForm.valid === true, 'generate' : trendspottingForm.valid === false }"
                            style="margin-left:100px"
                            [disabled]="!trendspottingForm.valid && !trendspottingForm.touched"
                            type="submit">Search</button>
                    </span>
                    <span class="result"> <input type="text" value="{{topSearchedRank1}}" style="padding-left: 10px;"></span>
                </div>
            </form>
        </div>
        <p class="summarization-title">
            News Summarization
        </p>
        <p class="summarization-text">
            Provide keywords to retrive summaries of news articles related to them.
        </p>
        <p class="max-summarization">
            Maximum number of news articles to return
        </p>

        <div class="d-flex">

            <form [formGroup]="summarizeNewsForm">
                <div class="d-flex justify-content-between align-items-center" style="
                margin-bottom: 1rem; width: 200px;">
                    <span class="counterResult"> <input type="number" value="{{initialValue}}" min="1" max="10" style="padding-left: 10px;"
                            formControlName="maxRecords"></span>
                    <span>
                        <button class="toggle-less" (click)="toggleLess()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19"
                                fill="none">
                                <path d="M15 10.373H9.75H8.25H3V8.87305H8.25H9.75H15V10.373Z" fill="white" />
                            </svg>
                        </button>
                    </span>
                    <span>
                        <button class="toggle-more" (click)="toggleMore()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19"
                                fill="none">
                                <path
                                    d="M15 10.373H9.75V15.623H8.25V10.373H3V8.87305H8.25V3.62305H9.75V8.87305H15V10.373Z"
                                    fill="white" />
                            </svg>
                        </button>
                    </span>
                </div>
                <div class="d-flex">
                    <span class="keyword1"> Keyword 1 <input type="text" [(ngModel)]="keyword1Value" formControlName="keyword1" style="padding-left: 10px;"
                            placeholder=""></span>
                    <span class="keyword"> Keyword 2 <input type="text" formControlName="keyword2" style="padding-left: 10px;"
                            placeholder=""></span>
                    <span class="keyword"> Keyword 3 <input type="text" formControlName="keyword3" style="padding-left: 10px;"
                            placeholder=""></span>
                </div>

                <div class="summarizeBtn">
                    <button class="btn"
                        [ngClass]="{'generateActive': summarizeNewsForm.valid === true, 'generate' : summarizeNewsForm.valid === false }"
                         [disabled]="!summarizeNewsForm.valid && !summarizeNewsForm.touched"
                        (click)="onSummarizeNewsSubmit()">Summarize News</button>
                </div>
                <div *ngIf="showProgress" style="margin-left:100px">
                    <div class="spinner_loading">
                        <mat-spinner diameter="40"></mat-spinner>
                    </div>
                </div>

                <div *ngIf="summarizeNewsResults" class="summarize-results">
                    <div *ngFor="let res of summarizeNewsResults" style="margin: 30px;">
                        <p> <a href="{{res.url}}">{{res.original_headline}}</a> </p>
                        <p> {{res.summary}} </p>
                        <!-- <p> {{res.url}} </p> -->
                    </div>
                </div>
                <div style="margin:30px 0px">
                    <div class="saveButton" *ngIf="showData">Choose a Campaign to save the news summaries</div>
                    <div *ngIf="showData" style="padding-top: 0.5rem;">
                        <select class="select-theme-dropdowns-campaign" name="state" style="padding: 10px;"
                            (change)="onClickCampaign($any($event.target).value)">
                            <option *ngFor="let d of CAMPAIGN_DATA" >{{d.name}}</option>
                        </select>
                    </div>
                    <div *ngIf="showData" style="margin:30px" class="d-flex justify-content-center">
                        <button class="btnSave" (click)="save()">Save</button> 
                        <!-- to "{{campaignName}}" -->
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>