/**
 * Copyright 2024 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

project_id = "genai-marketing-tf-test"

gdrive_config = {
  "gdrive_folder_id"   = "1s9_mhguwGWgeqynwuGt-QNZrmkAIeO4a",
  "marketing_slide_id" = "1aW5nGNjV3PT2WCBDHuPM5I8pISEFeysJjzaeG43bitY",
  "marketing_doc_id"   = "1z33FI4UZcy9l8iFdxS_PrCVgwK_9eXt0kcwbc37PBGY",
  "marketing_sheet_id" = "1ix2QoIPEdiSc1zU0nBJiuNDUfeiueKZkVDixzosi-hc"
}