/**
 * Copyright 2024 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*
* You can use this to overwrite terraform default variables.
*/

project_id = "your_project_id"

text_model_name = "gemini-1.5-pro"
image_model_name = "imagen-3.0-generate-001"
code_model_name = "gemini-1.5-pro"

gdrive_folder_name = "genai-marketing-assets"

campaigns_themes = [
  "Sales of new women's handbags at Cymbal",
  "Introducing a new line of men's leather shoes",
  "New opening of Cymbal concept shoe store in NYC",
  "Cymbal shoes retail brand in NYC",
  "Another theme"
  ]

transaction_types = [
    "in-app-purchase",
    "online-purchase",
    "in-store-purchase",
    "recurrent-customer",
    "thirdparty-purchase"
]


product_names = [
    "Coat",
    "misc",
    "Handbag",
    "Headset",
    "Backpack",
    "Flashlight",
    "Hiking Boots",
    "Running Shoes",
]


prompt_brand_overview = <<EOF
Cymbal brand information:
1. Brand Name:Cymbal
2. Vision: Elevate every step and statement with our curated ensemble of footwear and handbags.
3. Mission: To seamlessly blend comfort and style, Cymbal aims to provide a harmonious collection of shoes and handbags, resonating with modern elegance and timeless charm.
4. Products:
Shoes: From the bustling city streets to quiet evening outings, our shoes are tailored to fit every scenario with unmatched style and comfort.
Handbags: Crafted for the modern individual, our range spans from spacious totes for daily grind to chic clutches for those nights to remember.
5. Unique Selling Proposition (USP): A symphony of style. At Cymbal, we believe in orchestrating the perfect balance between trendsetting designs and unparalleled quality.
6. Target Audience: Style-savvy individuals aged 20-50 who have an ear for quality and an eye for timeless elegance, seeking the perfect accessories to accompany their ever-evolving lifestyles.
7. Brand Personality: Harmonious, chic, and captivating. Cymbal echoes the rhythm of contemporary fashion with a hint of classic allure.
8. Core Values: Quality First: Every product at Cymbal resonates with a promise of durability and excellence.
Listening to the Beat: We constantly tune into our customer's needs and desires, shaping our collections to mirror the world's evolving fashion pulse.
Echoing Sustainability: Cymbal strikes a chord with the environment, ensuring eco-friendly practices and sustainable choices are at the forefront.
9. Brand Tagline: "Echo Your Elegance."
10. Competitive Landscape: The fashion industry reverberates with many brands, but Cymbal stands distinct with its commitment to harmonizing quality, trend, and sustainability.
11. Future Outlook: Cymbal aspires to expand its resonance in the global market, infusing more sustainable materials into its products, and initiating special editions through designer partnerships, creating exclusive, melodious collections.
Cymbal is not just a brand; it's an experience. Recognizing the rhythm of life and the melodies of fashion, we ensure every piece adds a note of sophistication to our customer's ensemble. Every choice at Cymbal is a step toward a more stylish tomorrow.
EOF
